## Examples of usage

In [23]:
import numpy as np
import random
import pandas as pd
import meliora.meliora.val_tests as vt

In [13]:
# Test Jeffrey's test
test_data = pd.read_csv('pd_test_data.csv')
result= vt.jeffreys_test(test_data, 'ratings', 'default_flag', 'predicted_pd', 0.05)
result

               PD    N   D  Default Rate   p_value  reject
ratings
A        0.103429  406  55      0.135468  0.019959    True
B        0.099524  480  41      0.085417  0.849552   False
C        0.095719  114  10      0.087719  0.598649   False

In [14]:
# Jeffrey's test
vt.jeffreys_test(test_data, "ratings", "default_flag", "predicted_pd", alpha_level=0.1)

               PD    N   D  Default Rate   p_value  reject
ratings
A        0.103429  406  55      0.135468  0.019959    True
B        0.099524  480  41      0.085417  0.849552   False
C        0.095719  114  10      0.087719  0.598649   False

In [24]:
# Binomial test
vt.binomial_test(test_data, "ratings", "default_flag", "predicted_pd")

               PD    N   D  Default Rate   p_value  reject
ratings
A        0.103429  406  55      0.135468  0.023892    True
B        0.099524  480  41      0.085417  0.867441   False
C        0.095719  114  10      0.087719  0.660553   False

In [ ]:
# Brier score
vt.brier_score(test_data, "ratings", "default_flag", "predicted_pd")

               PD       N      D  Default Rate brier_score
ratings
A        0.103429   406.0   55.0      0.135468        None
B        0.099524   480.0   41.0      0.085417        None
C        0.095719   114.0   10.0      0.087719        None
total    0.100676  1000.0  106.0      0.106000     0.09469

In [22]:
# Herfindahl test
buckets = ['A', 'B', 'C']
bucket_pds = {'A': .1, 'B': .15, 'C': .2}
ratings2 = random.choices(buckets,  [0.4, 0.5, 0.1], k=1000)
probs_default2 = [bucket_pds[rating] for rating in ratings2]
default_flag2 = [random.uniform(0, 1) < bucket_pds[rating]
                for rating in ratings2]
test_data2 = pd.DataFrame({'ratings': ratings2, 
                         'default_flag': [int(i) for i in default_flag2], 
                         'predicted_pd' : probs_default2})

test_data2.to_csv('pd_test_data2.csv', index=False)

vt.herfindahl_test(test_data, test_data2, "ratings")

       N_initial h_initial  N_current h_current p_value reject
B            480      None        508      None    None   None
A            406      None        402      None    None   None
C            114      None         90      None    None   None
total       1000  0.408232       1000  0.427768  0.4306  False

In [ ]:
# Hosmer-Lemeshow test
vt.hosmer_test(test_data, "ratings", "default_flag", "predicted_pd")

               PD       N      D  Default Rate   p_value reject
ratings
A        0.103429   406.0   55.0      0.135468      None   None
B        0.099524   480.0   41.0      0.085417      None   None
C        0.095719   114.0   10.0      0.087719      None   None
total    0.100676  1000.0  106.0      0.106000  0.017511   True

In [ ]:
# Spiegelhalter test
vt.spiegelhalter_test(test_data, "ratings", "default_flag", "predicted_pd")

               PD       N      D  Default Rate   p_value reject
ratings
A        0.103429   406.0   55.0      0.135468      None   None
B        0.099524   480.0   41.0      0.085417      None   None
C        0.095719   114.0   10.0      0.087719      None   None
total    0.100676  1000.0  106.0      0.106000  0.584397  False